```{=html}
<!-- <ul class="list">
<% for (const item of items) { %>
<li <%= metadataAttrs(item) %>>
  <a href="<%- item.href %>" class="listing-name"><%= item.name %></a><br/>
  <span class="listing-custom-field"><%= item['custom-field'] %><span>
  </li>
  <% } %>
</ul> -->
<div class="grid gallery-card blog-card pt-4 gap-4">
  <% for (const item of items) { %>
  <div class="g-col-lg-4 g-col-md-6 g-col-12 pb-3">
    <a href="<%- item.path %>" class="card-link text-decoration-none text-dark">
      <div class="card border-0">
        <div class="card-img border">
          <img src="<%= item.image %>" alt="<% if (item.imagealt) { %><%= item.imagealt %><% } %>">
        </div>
        <div class="card-body px-0 py-2">
          <h5 class="gallary card-title mt-2">
          <%= item.title %>
          </h5>
          <span class="card-author d-inline p-75 text-muted">
            <%= item.author %>
          </span>
        </div>
      </div>
    </a>
  </div>
  <% } %>
</div>
```